::selection{
  background: #2b6ac3;
  color: #fff;
  text-shadow: none;
}
::-moz-selection{
  background: #2b6ac3 ;
  color: #fff;
  text-shadow: none;
}
::-webkit-selection{
  background: #2b6ac3 ;
  color: #fff;
  text-shadow: none;
}
